.list{
    font-size: 32px;
    text-align: center;
}

ul,p,ol,.heading2{
    font-size: 25px;
    background-color: olivedrab;
    color:greenyellow
}

.heading,
.heading2{
    font-size: 64px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.heading{
    background-color: olive;
    color: greenyellow;
}



.imag{
    height:auto;
    width:600;
}

.heading3{
    font-size: 32px;
    color:olivedrab
}